.Dogtime {
  transition: all 0.2s;
}

.Link {
	font-weight: bolder;
}

nav p {
  padding: 0 16px;
	display: inline;
}

.Dogtime:hover, .ActiveLink {
  background: #00000018;
}



nav div {
	background: #2bddce;
	letter-spacing: 2pt;
}